html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $text-color;

  @media screen and (min-width: 700px) {
    font-size: $font-size * 1.2;
  }
}

img {
  vertical-align: middle;
}

img, iframe {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: .2s;
  border-bottom: 1px solid transparent;
  &:hover {
    border-color: lighten($link-color, 15%);
    color: lighten($link-color, 15%);
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  margin: 2.75rem 0 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
