.padding {
  padding: $padding
}

.padding-vertical {
  padding: $padding 0
}

.padding-horizontal {
  padding: 0 $padding
}

.padding-top {
  padding-top: $padding;
}

.padding-bottom {
  padding-bottom: $padding;
}

.padding-left {
  padding-left: $padding;
}

.padding-right {
  padding-right: $padding;
}

.padding-none {
  padding: 0;
}
