.u-text-center {
  text-align: center !important;
}

.u-inline {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-padding {
  padding: 1em !important;
}

.u-margin {
  margin: 1em !important;
}
